* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.board {
  padding: 50px 40%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.title {
  display: flex;
  gap: 10px;
  align-items: center;
}
.button-image {
  background-color: white;
  border-radius: 10px;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-normal {
  background-color: white;
}
.button-complete {
  background-color: #32d657;
}
.button-wontdo {
  background-color: #dd524c;
}
.button-progress {
  background-color: #e9a23b;
}

.button-image img {
  height: 30px;
  width: 30px;
  object-fit: contain;
}

.tasks {
  display: flex;
  gap: 20px;
  border-radius: 12px;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
}

.status-normal {
  background-color: #e3e8ef;
}

.status-complete {
  background-color: #a0ecb1;
}

.status-wontdo {
  background-color: #f7d4d3;
}

.status-progress {
  background-color: #f5d565;
}

.timg {
  display: flex;
  gap: 10px;
  align-items: center;
}

.status-add {
  background-color: #f5e8d5;
}

.taskdetail {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: flex;
  justify-content: end;
  padding: 10px;
}
.taskname {
  background-color: white;
  height: 100%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 600px;
  justify-content: space-between;
  padding: 20px;
}

.Tname input {
  border-radius: 5px;
  width: 100%;
}

.Tdesc textarea {
  border-radius: 5px;
  width: 100%;
  height: 100px;
}

.Tbuton {
  display: flex;
  justify-content: end;
  align-items: end;
  border-radius: 10px;
  width: 100%;
  gap: 20px;
}

.thead {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.Tbutton {
  padding: 5px 10px;
  border-radius: 15px;
  background-color: #00000033;
  display: flex;
  gap: 7px;
  align-items: center;
}

.tbutton {
  padding: 5px 10px;
  border-radius: 15px;
  background-color: #3662e3;
  display: flex;
  gap: 7px;
  align-items: center;
}

.thead button {
  border: 1px solid;
  padding: 3px;
}

.ticon {
  display: flex;
  gap: 10px;
}

.status1 {
  border: 1px solid gray;
  border-radius: 15px;
  display: flex;
  gap: 15px;
  width: 200px;
  align-items: center;
}

.status2 {
  display: flex;
  gap: 50px;
}

.status3 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
